.t1{
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.card-header-1{
    font-family: "lato";
    font-weight: 550;
    font-size:larger;
}
.sh{
    border:1.5px solid gainsboro;
}
.card:hover{
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.bd{
    border-radius: 6px;
}